<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Engines</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png" type="image/png">

  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/node_modules/codemirror/lib/codemirror.css"> -->
  <!-- <link rel="stylesheet" href="/node_modules/codemirror/theme/neo.css"> -->
  <link rel="stylesheet" href="/node_modules/simplemde/dist/simplemde.min.css">
  <!-- <link rel="stylesheet" href="/node_modules/jsoneditor/dist/jsoneditor.css"> -->
  <link rel="stylesheet" href="/node_modules/text-security/dist/text-security.css">
  <link rel="stylesheet" href="/node_modules/xterm/css/xterm.css">
  <!-- <link rel="stylesheet" href="/node_modules/xterm/dist/addons/fullscreen/fullscreen.css"> -->
  <!-- <link rel="stylesheet" href="/node_modules/chart.js/dist/Chart.css"> -->
  <!-- <link rel="stylesheet" href="/node_modules/filepond/dist/filepond.css"> -->

  <script type="application/javascript" src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script type="application/javascript" src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script type="application/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- <script type="application/javascript" src="/node_modules/codemirror/lib/codemirror.js"></script> -->
  <!-- <script type="application/javascript" src="/node_modules/codemirror/addon/display/placeholder.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/addon/fit/fit.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/mode/shell/shell.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/mode/javascript/javascript.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/mode/lua/lua.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/mode/r/r.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/mode/ruby/ruby.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/mode/python/python.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/mode/xml/xml.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/mode/yaml/yaml.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/keymap/vim.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/keymap/emacs.js"></script>
  <script type="application/javascript" src="/node_modules/codemirror/keymap/sublime.js"></script> -->
  <script type="application/javascript" src="/node_modules/html5sortable/dist/html5sortable.js"></script>
  <script type="application/javascript" src="/node_modules/simplemde/dist/simplemde.min.js"></script>
  <!-- <script type="application/javascript" src="/node_modules/jsoneditor/dist/jsoneditor.js"></script> -->
  <script type="application/javascript" src="/node_modules/marked/marked.min.js"></script>
  <script type="application/javascript" src="/node_modules/dompurify/dist/purify.min.js"></script>
  <!-- <script type="application/javascript" src="/node_modules/mustache/mustache.min.js"></script> -->
  <script type="application/javascript" src="/node_modules/xterm/lib/xterm.js"></script>
  <script type="application/javascript" src="/node_modules/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
  <!-- <script type="application/javascript" src="/node_modules/xterm/dist/addons/fullscreen/fullscreen.js"></script> -->
  <!-- <script type="application/javascript" src="/node_modules/chart.js/dist/Chart.js"></script> -->
  <!-- <script type="application/javascript" src="/node_modules/filepond/dist/filepond.js"></script> -->
  <!-- <script type="application/javascript" src="/node_modules/axf/axf.js" ></script> -->
  <script type="application/javascript" src="http://localhost:8000/axf/axf.js" ></script>

  <script type="application/javascript" src="/app.js" ></script>

</head>
<body>

<div id="loadingSpinner" style="
  transition: opacity 0.75s ease;
  text-align: center;
  line-height: 80vh;
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  pointer-events: none;
  z-index: 1;
  ">
  <svg width="100" height="100" style="vertical-align: middle;">
    <g transform="scale(0.33333)">
      <path d="
        M 150,300 L 280,225 L 280,75 L 150,0 L 20,75 L 20,225 L 150,300
        M 40,150 A 110,110 0 1,0 260,150 A 110,110 0 1,0 40,150 Z"
        style="fill:#48D9;stroke-width:0" fill-rule="evenodd">
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="rotate"
          from="0 150 150"
          to="360 150 150"
          dur="2s"
          repeatCount="indefinite"/>
      </path>
    </g>
  </svg>
</div>

<script>

let inDevelopment = <%= Sinatra::Base.development? %>

// The UMD for FitAddon returns an object
FitAddon = FitAddon.FitAddon

window.onload = () => {
  if( window.localStorage.cssTheme ) {
    document.body.classList.add(
      `app-theme-${ window.localStorage.cssTheme }`
    )
  }
  loadingSpinner.style.opacity = 0
  setTimeout( function() { loadingSpinner.remove() }, 1000 )
  ax( app )
}
</script>

</body>
</html>
